$bg-color: #2a2d3c;
$accent-color: #e63a39;
$text-color: #fbfcff;
$primary-color: #efd3c8;
$primary2-color: #4f6799;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: $bg-color;
}
nav {
  background-color: #35394d;
  padding: 1rem;
  width: 70vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  img {
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  #search {
    padding: 0.7rem 1.5rem;
    border-radius: 3.125rem;
    // border: 1px solid $accent-color;
    border: none;
  }
  ul {
    display: flex;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: $text-color;
      margin: 0 1rem;
      padding-bottom: 1rem;
      &:hover {
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
      }
    }
  }
}

.container {
  width: 70vw;
  display: flex;
  margin: 6rem auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  .content {
    flex: 1;
    flex-wrap: wrap;
    padding: 0 3rem 0 0;
  }
  .image {
    flex: 1;
  }
  h1 {
    font-size: 4rem;
    color: $primary-color;
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: $primary2-color;
  }
  p {
    color: $text-color;
    line-height: 1.5rem;
    margin-bottom: 3rem;
  }
  img {
    width: 30rem;
    height: auto;
  }
  .solid-btn {
    background-color: $accent-color;
    color: $text-color;
    padding: 0.8rem 2rem;
    border-radius: 3.125rem;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
  }
  .outline-btn {
    margin-left: 1rem;
    background-color: transparent;
    color: $text-color;
    padding: 0.8rem 2rem;
    border-radius: 3.125rem;
    border: 1px solid $accent-color;
    cursor: pointer;
  }
  ul {
    margin-left: 1rem;
    li {
      list-style: none;
      text-decoration: none;
      line-height: 2.5rem;
      color: $text-color;
      margin: 0 1rem;
    }
  }
}

.colors {
  span {
    width: 60%;
    display: flex;
    color: $text-color;
    div {
      display: inline-block;
      margin-left: 5px;
      .red {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 3.125rem;
        background-color: $accent-color;
      }
      .steelblue {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 3.125rem;
        background-color: steelblue;
      }
      .peachpuff {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 3.125rem;
        background-color: peachpuff;
      }
      .pink {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 3.125rem;
        background-color: pink;
      }
      .slate {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 3.125rem;
        background-color: salmon;
      }
    }
  }
}
footer {
  background-color: slategrey;
  padding: 1rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 70vw;
  p {
    text-align: center;
    font-size: small;
    color: rgb(218, 224, 231);
  }
  span {
    font-style: italic;
    color: lavender;
  }
}
